##Automatically Generate
Seq	O	R

#set($sequence = 0)
#foreach( $row in $m.getMatrics())
	#if($sequence%4 == 0)
		#set($timeSeq= $sequence/4 +":"+00)
	#else
		#set($timeSeq= $sequence/4 +":"+($sequence%4)*15)
	#end
	#set($line="$stringUtil.alignLeft($timeSeq.toString(), 8)")
	#foreach( $column in $row )
		#set($line="$!line$stringUtil.alignLeft($!column, 12)")
	#end
	$!line
	#set($sequence = $sequence + 1)
#end